Key=YOUR_JWT_SECRET_KEY
MySQLUsername="YOUR_MYSQL_USERNAME_HERE"
MySQLPassword="YOUR_MYSQL_PASSWORD_HERE"
ConnectionString="server=localhost;port=3306;database=trainee_management;User=<username>;Password=<password>;"