<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://nuget.org" />
    
    <!-- No more hardcoded Account IDs or Regions! -->
    <add key="CodeArtifact" value="https://%AWS_DOMAIN%-%AWS_ACCOUNT_ID%.d.codeartifact.%AWS_REGION%://" />
  </packageSources>

  <packageSourceCredentials>
    <CodeArtifact>
      <add key="Username" value="aws" />
      <add key="ClearTextPassword" value="%CODEARTIFACT_TOKEN%" />
    </CodeArtifact>
  </packageSourceCredentials>
</configuration>
